body,
html {
  margin: 0;
  padding: 0;
  height: 100%;

  --border: #d3d3d3;
  --bg-color: #24292e;
  --fg-color: #24292e;
  --fg-hover-color: #333b42;
  --link-fg-color: #0652dd;
  --link-hover-fg-color: #3d7ffa;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--fg-color);

  display: grid;
  grid-template-rows: 50px 1fr 50px;
  gap: 0;
}

h1,
h2,
h3,
h4 {
  font-weight: 400;
}

h1 {
  font-size: 2rem;
}

a {
  color: var(--link-fg-color);
  text-decoration: none;
}

a:hover {
  color: var(--link-hover-fg-color);
}

p {
  text-align: justify;
}

.header {
  border-bottom: 1px solid var(--border);
  border-top: 5px solid var(--bg-color);
}

.header__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;

  font-weight: 400;
}

.header__body__gh-icon {
  font-size: 1.5rem;
  color: var(--fg-color);
  transition: transform 0.2s ease-in-out;
}

.header__body__gh-icon:hover {
  color: var(--link-hover-fg-color);
}

footer {
  border-top: 1px solid var(--border);
  font-size: 0.8rem;
  display: grid;
  align-items: center;
  justify-content: center;
}
