@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,400;0,600;0,700;1,300&display=swap");

body,
html {
  margin: 0;
  padding: 0;

  --border: #d3d3d3;
  --bg-color: #24292e;
  --fg-color: #24292e;
  --fg-hover-color: #333b42;
  --link-fg-color: #0652dd;
  --link-hover-fg-color: #3d7ffa;

  font-family: "Nunito Sans", sans-serif;
}

h1,
h2 {
  font-weight: 500;
}

h1 {
  font-size: 2rem;
}

a {
  color: var(--link-fg-color);
  text-decoration: none;
}

a:hover {
  color: var(--link-hover-fg-color);
}

p {
  text-align: justify;
}

.header {
  border-bottom: 1px solid var(--border);
  border-top: 5px solid var(--bg-color);
}

.header__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.header__body__gh-icon {
  font-size: 1.5rem;
  color: var(--fg-color);
  transition: transform 0.2s ease-in-out;
}

.header__body__gh-icon:hover {
  color: var(--link-hover-fg-color);
}
