.mw-900 {
  max-width: 900px;
}
.mark {
  background-color: #f6f6f6;
  border-radius: 5px;
  padding: 5px;
}
.fw-500 {
  font-weight: 300;
}
.m-auto {
  margin: auto;
}
.mt-2 {
  margin-top: 20px;
}
.pr-10 {
  padding-right: 10px;
}
.pl-10 {
  padding-left: 10px;
}
.card {
  padding: 5px 20px 5px 20px;
  background-color: #fafafa;
  border-radius: 5px;
}
hr {
  border: none;
  border-bottom: 1px dashed var(--border);
  margin: 50px 0;
}
.collapsed {
  display: none;
}
